body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  list-style: none;
}

.pagination li a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}